html,
body {
  margin: 0;
  padding: 0;
}

.color-palette-demo {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.color-palette-demo__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;

  flex: 1 0 auto;

  background: #ebeec0;
  background: linear-gradient(to right, #f7ffce 0%,#e3e5b8 100%);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.30);
  color: #af9a50;
  z-index: 1;
}

.color-palette-demo__logo,
.color-palette-demo__new,
.color-palette-demo__detail {
  cursor: pointer;
}

.color-palette-demo__content {
  flex: 1 0 auto;
  height: calc(100vh - 80px);
  overflow: auto;
}

.color-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.30);
  padding-left: 20px;
  padding-right: 20px;
  color: #1c1730;
  text-shadow: 0px 0px 2px rgba(255,255,255,0.6);
  transition: all .05s ease-in;
}

.color-item:hover {
  height: 125px;
}

.color-item--light {
  color: #f7f7f7;
}

.color-item__controls {

}

.color-detail {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.color-detail--light {
  color: #f7f7f7;
}
